body{
  padding:0;
  margin:0;
  background-color: #eaebed;
  font-family: 'Titillium Web', sans-serif;
}

.container{
  margin:0 auto;
  width: 73%;
}


.navbar {
  padding: 1rem 0;
    border-left: solid 5px  #e74c3c;
    border-right: solid 5px  #e74c3c;
    background-color: #1abc9c;
    margin-bottom: 22px;
    text-align: center;
}
.navbar__nav a{
  text-decoration: none;

}
h2{
  margin: 0 auto;
  max-width: var(--limited-width-container);
  padding-left: 1rem;
  padding-right: 1rem;
    text-align: center;
color:white;
font-size:30px;
display: inline-block;
}
footer{
  margin: 15px 0 0 0;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 20px 15px;
font-size:30px;
}
footer p{
	color: rgba(255,255,255,0.6);
	margin: 0;
}

/*start style form addnote */

.addNote{
    width: 290px;
    margin: 25px auto;
    background-color: #e74c3c;
    padding: 20px 20px;
    border-radius: 3px
}


#addNote{
  font-size: 0
}

.addNote{
  
}

main{
  height: 77vh;
  overflow: auto;
}

#addnote{
    width: 210px;
    height: 32px;
    border: none;
    border-right: 1px solid #8f8e8e;
    border-radius: 2px 0 0 2px;
    padding-left: 4px;
}

 #addsub{
    border: none;
    height: 34px;
    width: 65px;
    background: #414a4f;
    color: #fff;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

#addsub:hover{
  background-color: #58656c;
}
/*end style form aanote */


/*start style notes page*/

.notes{
  text-align: center;
  padding-top: 12px;
}

::-webkit-scrollbar {
  display: none;
}


.notes a{
    color: #000;
    font-size: 19px;
    margin-top: 30px;
    text-decoration: none;
    margin-top: 15px;
    background-color: #2980b9;
    padding: 12px;
    border-radius: 2px;
    transition: 0.2s;
}

.notes a:hover{
  background-color: #3498db;
  color: #fff;

}


.allUsers ul {
    padding: 0 0 0 0;
    text-align: center;

}

/*.singleuser{
  width: 332px;
}*/

 .allUsers ul a{
  display: block;
  margin: 0 auto;
  width: 332px;
}

 ul li {

    position: relative;
    padding: 4px;
    background: #888;
    font-size: 19px;
    transition: 0.2s;
    width: 325px;
    margin: 0 auto;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
    text-align: center;
    margin: 2px auto;
    overflow: hidden;
    word-wrap: break-word;
}

ul{
padding:0;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

.allUsers a{
  text-decoration: none;
  color: #000;
}

.allUsers{
  overflow: auto;
}

ul li:hover {
    background: #e74c3c;
    color: #fff
}

.allUsers h1{
  text-align: center;
  color: #2980b9;
  text-transform: uppercase;
}
_


/*end style notes page*/

/*start not found*/


/*End not found*/
