<div class="allUsers">
  <h1>users</h1>
  <ul>
     {{#each users}}
  <a href="/notes/{{this.id}}">
    <div class="singleuser">
      <li class="note">
        {{this.username}}
      </li>
    </div>
  </a>
  {{/each}}
  </ul>
</div>
