<div class="container">
  <div class="signlogup">

    <div class="signBar">
      <span id="login">Login</span>
      <span id="signUp">Sign Up</span>
    </div>
    <div class="login">
      <form id="loginForm" action="/login" method="post">
          <input class="usernameInput" type="text" value="" name="username" placeholder="Username" required>
          <input class="passwordInput" type="password" value="" name="password" placeholder="Password" required>
          <button id="login" type="submit" name="">Login</button>
       </form>
    </div>
    <div class="signUpForm">
      <form id="signUpForm" action="/register" method="post">
          <input class="usernameInputS" type="text" value="" name="usaname" placeholder="Username" required>
          <input class="passwordInputS" type="password" value="" name="password" placeholder="Password" required>
          <input class="passwordInputS" type="password" value="" name="confrimPassword" placeholder="Confrim password" required>
          <button id="signUp" type="submit" name="">Sign Up</button>
       </form>
    </div>

  </div>
</div>
<script src="./../../public/js/request.js"></script>
<script src="./../../public/js/index.js"></script>
