<div class="notes">
  <a href="/users/{{userId}}/addNote">Add me a note!</a>
   <ul>
   {{#each notes}}
     <li class="note">
         <p class="noteContent">{{this.content}}</p>
     </li>
   {{/each}}
   </ul>
</div>
