<div class="signUp">
  <form id="signUp" action="/register" method="post">
      <input class="usernameInputS" type="text" value="" name="username" placeholder="Username" required>
      <input class="passwordInputS" type="password" value="" name="password" placeholder="Password" required>
      <input class="passwordInputS" type="password" value="" name="confrimPassword" placeholder="Confrim password" required>
      <button id="signUp" type="submit" name="">Sign Up</button>
   </form>
</div>
