<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PageNotFound</title>
  <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>
<body>

<h1 class="status">{{statusCode}}</h1>
<a href="/home"><h2>Go Home!</h2></a>
</body>
</html>